<ul class="pages">
  <li><a href="https://system76.com/contact">Contact</a></li>
  <li><a href="https://system76.com/support">Support</a></li>
  <li><a href="https://system76.com/about">About Us</a></li>
  <li><a href="http://blog.system76.com">Blog</a></li>
  <li><a href="https://system76.com/careers">Careers</a></li>
  <li><a href="https://system76.com/shipping">Shipping Information</a></li>
  <li><a href="https://system76.com/warranty">Warranty &amp; Returns</a></li>
  <li><a href="https://system76.com/privacy">Privacy Policy</a></li>
  <li><a href="https://system76.com/disclaimer">Disclaimer</a></li>
  <li><a href="https://system76.com/terms">Terms &amp; Conditions</a></li>
</ul>
